* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

/* container-header */
.container {
    width: 100%;
    max-height: 4084px;
    overflow: hidden;
}
.container .header {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

/* title-logo */
.container .header .title{
    display: flex;
    height: 50px;
}
.container .header .title .title-text{
    margin-right: 10px;
}
.container .header .title .title-text h4{
    font-size: 18px;
}
.container .header .title-text p {
    padding: 10px 10px 0 0;
    font-size: 12px;
    font-weight: lighter;
}

/* nav-bar */

.container .header .nav-bar ul{
    margin-top: 15px;
}
.container .header .nav-bar ul li{
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}
.container .header .nav-bar ul li:hover{
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    border-bottom: 2px solid rgb(24, 148, 255);
    
}
.container .header .nav-bar ul li a{
    text-decoration: none;
    color : #000000;
    font-size: 16px;
    opacity: .7;
}


/* download-btn */

.container .header .download-btn button {
    width: 170px;
    background-color: #E6F3FF;
    color: #1894FF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
}
.container .header .download-btn button:hover {
    -webkit-box-shadow: 0px 0px 9px 1px	rgb(24, 148, 255, .5);
    -moz-box-shadow:    0px 0px 9px 1px	rgb(24, 148, 255, .5);
    box-shadow:         0px 0px 9px 1px	rgb(24, 148, 255, .5);
}


/* section-1 */

.section-1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.section-1 .section-1-content {
    align-self: center;
    width: 354px;
    height: 182px;
}
.section-1 .section-1-content .section-1-text {
    width: 400px;
}
.section-1 .section-1-content .section-1-text h2 {
    font-size: 36px;
    color: #1894FF;
}
.section-1 .section-1-content .section-1-text p {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 25px;
}


.section-1 .section-1-content .section-1-text-btns{
    margin-top: 38px;
}
.section-1 .section-1-content .section-1-text-btns button{
    width: 170px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    border-radius: 5px;
    border: none;
}
.section-1 .section-1-content .section-1-text-btns button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 9px 1px	rgb(24, 148, 255, .5);
    -moz-box-shadow:    0px 0px 9px 1px	rgb(24, 148, 255, .5);
    box-shadow:         0px 0px 9px 1px	rgb(24, 148, 255, .5);
}
.section-1 .section-1-content .section-1-text-btns button:first-child  {
    background-color: #1894FF;
    color: white;
}
.section-1 .section-1-content .section-1-text-btns button:last-child  {
    background-color: white;
    color: #1894FF;
    border: 1px solid #1894FF;
    margin-right: 10px;
}

.section-1 .section-1-img .img-back {
    position: relative;
    right: 250px;
}
 .section-1 .section-1-img .img-back #doc  {
    position: absolute;
    top: 100px;
    right: 100px;
}

/* section-2 */

.section-2 {
    width: 80%;
    height: 360px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}
.section-2-img {
    position: relative;
}
.section-2-img img{
    position: absolute;
}
.section-2-img img:nth-child(2n) {
    top: 3px;
}
.section-2-img img:last-child {
    top: 113px;
    right: 122px;
}

.section-2-content {
    width: 536px;
    height: 294px;
    margin-left: 150px;
    margin-top: 30px;
}

.section-2-content h2 {
    font-size: 20px;
    color: #2361B5;
}
.section-2-content h2::before {
    content: '';
    width: 1px;
    height: 24px;
    border: 2px solid #00DE9A;
    margin-left: 7px;
    border-radius: 10px;
}
.section-2-content .section-2-content-text {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 28px;
    line-height: 2rem;
}

.section-2-content-logos {
    width: 537px;
    height: 110px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}
.section-2-content-logos .section-2-logo {
    width: 80px;
    height: 105px;
}
.section-2-content-logos .section-2-logo .logo-box {
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0px 0px 9px 1px	rgb(24, 148, 255, .3);
    -moz-box-shadow: 0px 0px 9px 1px	rgb(24, 148, 255, .3);
    box-shadow: 0px 0px 9px 1px	rgb(24, 148, 255, .3);
    border-radius: 25%;
}
.section-2-content-logos .section-2-logo .logo-box img {
    width: 60px;
    padding: 20px 20px 0 0;
}
.section-2-content-logos .section-2-logo p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* section-3 */

.section-3 {
    width: 80%;
    margin: 220px auto;
    height: 445px;
}
.section-3 .section-3-title h2::before {
    content: '';
    width: 1px;
    height: 24px;
    border: 2px solid #00DE9A;
    margin-left: 10px;
    border-radius: 10px;

}
.section-3 .section-3-title h2 {
    color: #2361B5
}

.section-3 .section-3-content {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.section-3 .section-3-content .section-3-content-logos {
    display: flex;
    flex-wrap: wrap;
    width: 368px;
    height: 374px;
    justify-content: space-between;
    align-items: center;
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo {
    width: 160px;
    height: 160px;
    border-radius: 25%;
    border: none;
    -webkit-box-shadow: 0px 0px 9px 1px	rgba(240, 240, 240, 0.3);
    -moz-box-shadow: 0px 0px 9px 1px	rgb(240, 240, 240, 0.3);
    box-shadow: 0px 0px 9px 5px	rgba(236, 236, 236, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo:first-child {
    -webkit-box-shadow: 0px 0px 9px 9px	rgb(165, 213, 255, 0.2);
    -moz-box-shadow: 0px 0px 9px 9px	rgb(165, 213, 255, 0.2);
    box-shadow: 0px 0px 9px 9px	rgba(165, 213, 255, 0.2);
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo:first-child img {
    filter: grayscale(0);
    opacity: 1;
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo:first-child p {
    color: #2361B5;
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo img {
    width: 67px;
    height: 58px;
    filter: grayscale(100%);
    opacity: .5;
}
.section-3 .section-3-content .section-3-content-logos .section-3-logo p {
    text-align: center;
    color: grey;
    margin-top: 18px;
}

.section-3 .section-3-content .section-3-content-text {
    width: 508px;
    height: 364px;
    align-self: center;
}
.section-3 .section-3-content .section-3-content-text p {
    margin-top: 15px;
    line-height: 2rem;
}

.section-3 .section-3-content .section-3-content-text .section-3-content-text-steps {
    width: 100%;
    height: 220px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.section-3-content-text-steps .section-3-progress img {
    position: absolute;
}
.section-3-content-text-steps .section-3-progress .v-line {
    width: 1px;
    height: 80px;
    background-color: rgb(216, 216, 216);
    margin-right: 17px;
    z-index: -1;
}

.section-3-content-text-steps .section-3-step {
    width: 90%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-3-content-text-steps .section-3-step .step {
    height: 60px;
    margin-top: 14px;
}
.section-3-content-text-steps .section-3-step .step p {
    font-size: 14px;
    margin-right: 50px;
}


/* section-4 */

.section-4 {
    width: 100%;
    height: 612px;
    background-color: #0089FF;
}
/* .section-4-bg {
    display: flex;
}
.section-4-bg .section-4-bg1 {
    position: relative;
    bottom: 200px;
    left: 300px;
}
.section-4-bg .section-4-bg2  {
   position: relative;
   bottom: 100px;
   left: 100px;
} */

.section-4-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.section-4-content .section-4-text {
    align-self: center;
}
.section-4-content .section-4-text form {
    width: 600px;
}
.section-4-content .section-4-text form .sec-4-title {}
.section-4-content .section-4-text form .sec-4-title h2 {
 color: white;
 font-size: 24px;
}
.section-4-content .section-4-text form .sec-4-title p {
    color: white;
    font-size: 16px;
    margin-top: 34px;
}
.section-4-content .section-4-text form .sec-4-input {
    margin-top: 37px;
    position: relative;
}
.section-4-content .section-4-text form .sec-4-input input {
    width: 85%;
    height: 60px;
    border: none;
    border-radius: 10px;
}
::placeholder {
    padding-right: 50px;
    font-size: 14px;
    color: #666666;
    opacity: .7;
}
.section-4-content .section-4-text form .sec-4-input button {
    width: 23%;
    font-size: 16px;
    color: white;
    background-color: #1894FF;
    border-radius: 10px;
    border: none;
    padding: 13px 30px;
    position: absolute;
    left: 100px;
    top: 8px;
    cursor: pointer;
}
.section-4-content .section-4-text form .sec-4-input button:hover {
    background-color: #1269b6;
}
.section-4-content .section-4-text form .sec-4-linkBtns {
    margin-top: 52px;
    display: flex;
}
.section-4-content .section-4-text form .sec-4-linkBtns .download-btn {
    background-color: #2361B5;
    width: 40%;
    height: 55px;
    border: none;
    border-radius: 10px;
    margin-left: 16px;
}
.section-4-content .section-4-text form .sec-4-linkBtns .download-btn:hover {
   -webkit-box-shadow: 0px 0px 9px 5px	rgb(165, 213, 255, 0.8);
   -moz-box-shadow: 0px 0px 9px 9px	rgb(165, 213, 255, 0.8);
   box-shadow: 0px 0px 9px 5px	rgba(165, 213, 255, 0.8);;
}
.section-4-content .section-4-text form .sec-4-linkBtns .download-btn a  {   
    display: flex;
    justify-content: flex-start;   
    text-decoration: none;
    color: white;
    align-items: center;
}
.section-4-content .section-4-text form .sec-4-linkBtns .download-btn a  .android{
    padding: 12px 20px 0 0;
}
.section-4-content .section-4-text form .sec-4-linkBtns .download-btn a p {
    margin-top: 10px;
    margin-right: 15px;
}
img#sib-app {
    width: 100%;
    height: 55px;
    object-fit: cover;
}
.section-4-content .section-4-img {
    width: 340px;
    height: 620px;
    border-radius: 10px;
}
.section-4-content .section-4-img img {
    width: 340px;
    height: 620px;
    object-fit: cover;
}

/* section-5 */

.section-5 {
    margin-top: 80px;
    width: 100%;
    height: 620px;
}
.section-5-bg {
    background-image: url('./img/img/sec-5-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5-content {
    width: 80%;
    margin: 0 auto;
    height: 430px;
    -webkit-box-shadow: 0px 0px 37px -12px rgba(24,148,255,0.5);
    -moz-box-shadow: 0px 0px 37px -12px rgba(24,148,255,0.5);
    box-shadow: 0px 0px 37px -12px rgba(24,148,255,0.5);
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-5-content-text {
    width: 50%;
    height: 292px;
}
.section-5-content-text h2 {
    font-size: 20px;
    color: #2361B5;
}
.section-5-content-text h2::before {
    content: '';
    width: 1px;
    height: 24px;
    border: 2px solid #00DE9A;
    margin-left: 10px;
    border-radius: 10px;
}
.section-5-content-text p {
 margin-top: 33px;
 width: 85%;
 line-height: 2rem;   
}
.section-5-content-text .section-5-input {
    margin-top: 35px;
    position: relative;
}
.section-5-content-text .section-5-input input {
    width: 100%;
    height: 65px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 10px;
}
.section-5-content-text .section-5-input button {
    position: absolute;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1894FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    left: 20px;
    top: 10px;
}
.section-5-content-text .section-5-input button:hover {
    cursor: pointer;
    background-color: #1371c4;
}