$mainColor : #1894FF;
$brRadius : 10px;
$pSize : 14px;

@mixin boxShadow {
    -webkit-box-shadow: 0px 0px 22px -10px rgba(24,148,255,0.5);
    -moz-box-shadow: 0px 0px 22px -10px rgba(24,148,255,0.5);
    box-shadow: 0px 0px 22px -10px rgba(24,148,255,0.5);
}
@mixin downBtn {
    background-color: #E6F3FF;
    color: $mainColor;
    font-weight: bold;
    transition: .2s;
}
@mixin inputField {
    width: 90%;
    height: 55px;
    background-color: #F9F9F9;
    margin-top: 45px;
    border-radius: $brRadius;
}
@mixin button {
    background-color: $mainColor;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: $brRadius ;
}
@mixin input {
    border: none;
    background: none;
    outline: none;
    text-align: center;
    font-size: $pSize;
    margin-top: 10px;
}

* {
    direction: rtl;
    padding: 0;
    margin: 0;
}

.container-fluid {
    height: 2000px;
    padding: 0;
}
/* navbar */

nav {
    height: 80px;
    ul {
        height: 55px;
    }
    li {
        padding: 5px;
        a {
            opacity: .7;
        }
        a:hover {
            border-bottom: 2px solid $mainColor;
        }
    }
   .download-btn {
    @include downBtn;
}
.download-btn:hover {
    background-color: royalblue;
    color: white;  
} 
.minus-sign {
    display: none;
}

}
.drop-down {
    display: none;
}


//  section-1 //

.section-1 {
    margin-top: 120px;

    h2 {
        width: 78%;
        line-height: 3rem;
        color: $mainColor;
        font-weight: bold;
    }
    p {
        width: 71%;
        line-height: 2rem;
    }
    .input-field {
       @include inputField;

        input {
            @include input;
        }
        button {
            @include button;
            width: 20%;
            margin: 7px 10px;
        }
    }

    .sec1-content {
        width: 50%;
        height: 371px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .ph-box {
            width: 90%;
            height: 125px;
            border-radius: $brRadius;
            @include boxShadow;
            display: flex;
            align-items: center;
        }
        .box1 {
            align-self: center;
            width: 60%;
            height: 87px;
            opacity: .7;
        }
        .box2 {
            align-self: flex-end;
            width: 60%;
            height: 87px;
            opacity: .5;
        }
        .ph-content {
            width: 80%;
            height: 75px;
            
            display: flex;
        }
        .logo {
            background-color: $mainColor;
            text-align: center;
            display: inline-block;
            padding: 23px 25px 23px 25px;
            margin-right: 25px;
        }
        .logo-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;
            width: 60%;

            h3 {
                font-size: 20px;
                text-align: right;
                font-weight: bold;
            }
            .logo-p {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                
                
                img {
                    height: 20px;
                }
                p {
                    width: 100%;
                    margin-bottom: 0;
                    line-height: 0;
                    color: #666666;
                    font-size: 12px;
                }

            }
        }
        .ph-time {
            align-self: flex-start;
            background-color: $mainColor;
            color: white;
            font-size: 12px;
            border-radius: $brRadius;
            padding: 5px 20px;
            margin-top: 11px;
        }

        .box1 {
            .ph-content {
                height: 55px;
                .logo {
                    height: 50px;
                    background-color: $mainColor;
                    text-align: center;
                    display: inline-block;
                    padding: 10px 15px;
                    margin-right: 25px;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                .ph-time {
                    align-self: flex-start;
                    background-color: $mainColor;
                    color: white;
                    font-size: 12px;
                    border-radius: $brRadius;
                    padding: 5px 20px;
                    margin-top: 11px;
                }
                .logo-content {
                    h3 {
                        font-size: 13px;
                    }
                    .logo-p {
                        img {
                            width: 11px;
                            height: 10px;
                        }
                        p {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

// section-2 // 

.section-2 {
    margin-top: 180px;
    height: 150px;
    background-color: $mainColor;
    padding: 0;
    width: 100%;

}

// section-3 //

.section-3 {
    margin-top: 100px;
    height: 632px;
    .sec-3-header {
        h3 {
            color: $mainColor;
            font-weight: bold;
        }
        h3::before {
            content: '';
            border: 2px solid #00DE9A;
            height: 70px;
            border-radius: $brRadius;
            margin-left: 25px;
        }
    }
    .sec-3-content {
        .pack {
            @include boxShadow;
            height: 500px;
            width: 45%;

            .pack-inside {
                height: 400px;
                .pack-text {
                    h4 {
                        color: $mainColor;
                        
                    }
                    p {
                        line-height: 1.9rem;
                    }
                }
                button {
                    background-color: $mainColor;
                }
                button:hover {
                    background-color: blue;
                }
            }
        }
    }
}

.section-6 {
    width: 100%;
    height: 130px;
    background-color: #1894FF;
    margin-top: 100px;
    
}
.section-6 .section-6-content {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-6-content-text {
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.section-6-content-text h2 {
    font-size: 20px;
    color: white;
}
.section-6-content-text p {
    color: white;
    font-size: 14px;
    margin-top: 3px;
}
.section-6-content-contact-box {
    width: 20%;
    height: 52px;
    background-color: #2361B5;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.section-6-content-contact-box img {
    object-fit: contain;
} 

/* footer */

.footer {
    width: 80%;
    height: 220px;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
}
.footer .footer-box {
    height: inherit;
}
.box-1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-box-1-title {
    display: flex;
    height: 50px;
}
.footer-box-1-title .footer-title-text {
    margin-right: 10px;
}
.footer-box-1-title .footer-title-text h4 {
    font-size: 18px;
}
.footer-box-1-title .footer-title-text p {
    padding: 10px 10px 0 0;
    font-size: 12px;
    font-weight: lighter;
}
.footer-box-1-text p:first-child {
    font-weight: bold;
}
.footer-box-1-text p:last-child {
    font-weight: lighter;
    margin-top: 11px;
}
.footer-box-1-social-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.footer-box-1-social-logos a img:hover {
    color: rgb(24, 148, 255);
}


/* box-2 */
.box-2 {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box-2 a {
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
    font-size: 14px;
}
.box-2 a > h5 {
    color: #2361B5;
}
.box-2 a:hover {
    border-bottom: 1px solid #1894FF;
}
.box-2 a > h5::before {
    content: '';
    width: 1px;
    height: 24px;
    border: 1px solid #00DE9A;
    margin-left: 10px;
    border-radius: 10px;
} 
.box-2 a > p {
    color: #616161;
}

/* box-3 */
.box-3 {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box-3 a {
    text-decoration: none;
    color: #616161;
    font-size: 14px;
}
.box-3 a:hover {
    border-bottom: 1px solid #1894FF;
}

/* box-4 */
.box-4 {
    width: 35%;
}
.footer-box-4-btns {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.footer-box-4-btns a img {
    width: 180px;
}
